name: Security Scan on Pull Request

on:
  pull_request:
    branches: [main]

permissions:
  contents: read
  security-events: write
  actions: read
  pull-requests: write

jobs:
  build:
    name: Build Application
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '25'
          distribution: 'temurin'

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Build with Gradle
        run: ./gradlew build

      - name: Build Docker image
        run: docker build -t demo-app .

      - name: Save Docker image
        run: docker save demo-app -o demo-app.tar

      - name: Upload Docker image artifact
        uses: actions/upload-artifact@v4
        with:
          name: demo-app
          path: demo-app.tar
          retention-days: 1

  sca-scan:
    name: Dependency Vulnerability Scan (SCA)
    runs-on: ubuntu-latest
    needs: build
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Dependency Review
        uses: actions/dependency-review-action@v4
        with:
          fail-on-severity: moderate
          deny-licenses: GPL-2.0, LGPL-2.0
          comment-summary-in-pr: always

  dast-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build app
        run: docker build -t demo-app .

      - name: Run app
        run: |
          docker run -d -p 7070:7070 --name demo demo-app
          sleep 15

      - name: ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.15.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target: http://localhost:7070
          fail_action: true
          cmd_options: '-a'
          rules_file_name: '.zap/rules.tsv'
