name: Trivy Docker Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:
  

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t my-app:latest .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: my-app:latest
          format: table
          exit-code: "1"
          severity: "CRITICAL,HIGH"
