name: Trivy Docker Scan

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:
  

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t my-app:latest .

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: my-app:latest
          scan-ref: '.'
          exit-code: "1"
          vuln-type: 'os,library'
          severity: "CRITICAL,HIGH,MEDIUM"
          format: table


      # - name: Upload Trivy scan results to GitHub Security tab
      #   uses: github/codeql-action/upload-sarif@v4
      #   with:
      #     sarif_file: 'trivy-results.sarif'