name: Trivy Docker Scan (with image pull)

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:
  

jobs:
  trivy-scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker
        uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Pull Docker image
        run: |
          docker pull ghcr.io/im-sandbox-williamtinfomagnus/bk-demo:latest

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@0.24.0
        with:
          image-ref: ghcr.io/im-sandbox-williamtinfomagnus/bk-demo:latest
          scan-ref: '.'
          exit-code: "1"
          vuln-type: 'os,library'
          severity: "CRITICAL,HIGH,MEDIUM"
          format: table


      # - name: Upload Trivy scan results to GitHub Security tab
      #   uses: github/codeql-action/upload-sarif@v4
      #   with:
      #     sarif_file: 'trivy-results.sarif'